<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid</title>
    <style>
        .text-danger{
            color: red;
        }
        .text-success{
            color:green;
        }
    </style>
</head>
<body>
    <a href="{% url 'grid' %}" style="font-size: large;">Grid</a>
    <a href="{% url 'add' %}" style="font-size: large;">Add</a>
    <br>
    <br>
    {% if messages %} 
    {% for message in messages %}
      <p class="alert {% if message.tags == 'error' %} text-danger {% else %} text-success {% endif %}">{{message}}</p>
    {% endfor %} 
  {% endif %} 
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id}}</td>
            <td>{{ employee.name}}</td>
            <td>{{ employee.designation}}</td>
            <td>{{ employee.age}}</td>
            <td>{{ employee.gender}}</td>
            <td>
                <a href="{% url 'edit' id=employee.id %}">Edit</a>
                <a href="{% url 'delete' id=employee.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>